<div class="border border-gray-500 rounded">
  <img src="./assets/image.png" alt="item">
  <div class="m-3 text-1xl">
    <p class="font-light">{{item.name}}</p>
    <p class="font-bold">${{item.price}}</p>
      <div class="relative pt-2 pb-3">
        <div class="w-full rounded-full bg-gray-200 absolute z-10">
          <div class="p-2.5 rounded-full bg-orange-300" [style.width.%]="this.item.qty/this.item.stock*100"></div>
        </div>
        <div class="absolute left-1/4 top-2/4 z-20 text-xs">there are {{item.qty}} items</div>
      </div>
  </div>
</div>
